form {
    .MuiTextField-root {
        margin: 0 0 15px 0;
    }

    .button-group {
        display: flex;
        justify-content: center;

        button {
            background-color: #56ccf2 !important;
            color: #FFFFFF;
            border-radius: 20px;
        }
    }
}