.change-password {
    background-color: #1b224d;

    .password-card {
        position: absolute;
        top: 15%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 460px;

        .app-logo {
            display: flex;
            justify-content: center;
            margin: 0 0 10px 0;

            img {
                width: 60%;
            }
        }

        .card-view {
            border-top: 1px solid #ccc;

            form {
                padding: 24px 10px;
            }
        }

        @media screen and (max-width: 768px) {
            width: 90vw;
        }
    }

    #tsparticles {
        height: 100vh;
    }
}